    <h1></h1>
    <div class="row">
        <form data-abide novalidate="novalidate">
            <div class="large-12 columns">
                <fieldset>

                    <div class="row">
                        <div class="large-12 columns">
                            <label>Title</label>
                            <input type="text" required pattern="[a-zA-Z]+" id="title" placeholder="Comic book title" value="<%- title %>">
                            <small class="error">Name is required and must be a string.</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-4 columns">
                            <label>Issue No</label>
                            <input type="text" id="issue" placeholder="Issue number" value="<%- issueNo %>" />
                        </div>
                        <div class="large-4 columns">
                            <label>Publisher</label>
                            <select id="publisher" required>
                                <option value>Choose..</option>
                                <option value="DC Comics" <% if (publisher === 'DC Comics') { %> selected <% } %> >DC Comics</option>
                                <option value="Marvel"<% if (publisher === 'Marvel') { %> selected <% } %> >Marvel</option>
                                <option value="Image"<% if (publisher === 'Image') { %> selected <% } %> >Image</option>
                                <option value="Vertigo"<% if (publisher === 'Vertigo') { %> selected <% } %> >Vertigo</option>
                            </select>
                            <small class="error">You have to select a publisher.</small>
                        </div>
                        <div class="large-4 columns">
                            <label>Printed By</label>
                            <select id="printedBy" required>
                                <option value>Choose..</option>
                                <option value="ECC Comics"<% if (printedBy === 'ECC Comics') { %> selected <% } %> >ECC Comics</option>
                                <option value="Marvel"<% if (printedBy === 'Marvel') { %> selected <% } %>>Ovni Press</option>
                                <option value="Image"<% if (printedBy === 'Image') { %> selected <% } %>>Norma Editorial</option>
                                <option value="Vertigo"<% if (printedBy === 'Vertigo') { %> selected <% } %>>Planeta DeAgostini</option>
                                <option value="DC Comics"<% if (printedBy === 'DC Comics') { %> selected <% } %> >DC Comics</option>
                            </select>
                            <small class="error">You have to select a editor.</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-4 columns">
                            <label>Country</label>
                            <select id="country" required>
                                <option value>Choose..</option>
                                <option value="USA"<% if (country === 'USA') { %> selected <% } %>>USA</option>
                                <option value="Argentina"<% if (country === 'Argentina') { %> selected <% } %>>Argentina</option>
                                <option value="Spain"<% if (country === 'Spain') { %> selected <% } %>>Spain</option>
                            </select>
                            <small class="error">You have to select a country.</small>
                        </div>
                        <div class="large-4 columns">
                            <label>Release Date</label>
                            <input type="text" required pattern="month_day_year" id="releaseDate" value="<%- releaseDate %>" />
                            <small class="error">You have to pick a valid date.</small>
                        </div>
                        <div class="large-4 columns">
                            <label>Cover Date</label>
                            <input type="text" required pattern="month_day_year" id="coverDate" value="<%- coverDate %>" />
                            <small class="error">You have to pick a valid date.</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-12 columns">
                            <label>Plot</label>
                            <textarea id="plot" rows="10" placeholder="Plot of the comic book"><%- plot %></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-12 columns">
                            <label>Authors</label>
                            <textarea id="authors" placeholder="Writer, penciller, etc"><%- authors %></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-12 columns">
                            <label>Cover</label>
                            <input type="url" id="cover" required placeholder="http://placehold.it/1000x1000&text=Thumbnail" value="<%- cover %>" />
                            <small class="error">Valid URL required.</small>
                        </div>
                    </div>

                </fieldset>

                <fieldset>
                    <legend>Purchase Data</legend>

                    <div class="row">
                        <div class="large-4 columns">
                            <label>Store</label>
                            <select id="store" required>
                                <option value>Choose..</option>
                                <option value="Rayos y Centellas"<% if (store === 'Rayos y Centellas') { %> selected <% } %>>Rayos y Centellas</option>
                                <option value="Arcana"<% if (store === 'Arcana') { %> selected <% } %>>Arcana</option>
                                <option value="Camelot"<% if (store === 'Camelot') { %> selected <% } %>>Camelot</option>
                            </select>
                            <small class="error">You have to select a store.</small>
                        </div>
                        <div class="large-4 columns">
                            <label>Purchase Price</label>
                            <input id="price" required pattern="number" type="text" value="<%- purchasePrice %>" />
                            <small class="error">The price must be a number.</small>
                        </div>
                        <div class="large-4 columns">
                            <label>Purchase Date</label>
                            <input type="text" id="purchaseDate" required pattern="month_day_year" value="<%- purchaseDate %>" />
                            <small class="error">You have to pick a valid date.</small>
                        </div>
                    </div>
                </fieldset>
                <button type="submit" id="save" class="radius button right">Save</button>
                <a href="#" class="button secondary alert success left">Cancel</a>
            </div>
        </form>
    </div>
    <div id="dialog-confirm" style="display:none;" title="Item Saved">
        <p><span class="ui-icon ui-icon-check" style="float:left; margin:0 7px 20px 0;"></span>The item has saved successfully</p>
    </div>